body {
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  margin: 0;
  color: white;
}

h3 {
  color: #063a6b;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  padding: 20px;
  font-size: 16px;
}

.header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.note {
  border: 1px solid #5dadf8;
  border-radius: 10px;
  background-color: #5dadf8;
  padding: 10px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}

.note h3,
.note p {
  max-width: 100%;
  overflow-wrap: break-word;
}

.p-tagline {
  color: red;
}

.p-body {
  color: rgb(255, 255, 255);
}

.delete {
  margin-left: 10px;
}

.add-note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  resize: none;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

button.pin {
  background-color: #4caf50;
}

button.delete {
  background-color: #ff8c00;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.span-page {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.edit-note-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-note-modal label {
  display: block;
  margin-bottom: 5px;
}

.edit-note-modal input,
.edit-note-modal textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.edit-note-modal button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.edit-note-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.react-hot-toast-container {
  top: 16px;
  right: 16px;
  width: 320px;
  z-index: 1000;
}

.react-hot-toast-content {
  background-color: #ff6347;
  color: white;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 600px;
  }

  .header {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    max-width: none; 
  }

  .note-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
  }

  .note {
    width: 90%;
    margin-bottom: 20px; 
  }

  .span-page {
    margin-top: 5px;
  }

  .add-note-form {
    flex-direction: row;
    align-items: flex-start;
  }

  input,
  textarea {
    margin-right: 10px;
  }

  button {
    margin-top: 0;
  }
}



